.public-layout .home {
   width: 100%;
   min-height: 50svh;
   height: fit-content;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding-top: var(--spx-32);
   padding-bottom: var(--spx-128);
   background: linear-gradient(
      to bottom,
      var(--thirdnary) 20svh,
      var(--white) 0%
   );

   > .header {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--spx-8);
      padding: 0 var(--spx-48);
      padding-bottom: var(--spx-12);
      background-color: var(--thirdnary);
      border-bottom-right-radius: var(--spx-32);
      border-bottom-left-radius: var(--spx-32);

      .logo {
         width: 100%;
         display: flex;
         justify-content: flex-start;
         align-items: flex-start;

         img {
            aspect-ratio: 1/1;
            height: 100%;
            width: var(--spx-48);
            transform: translateX(calc(var(--spx-8) - var(--spx-16)));
         }
      }

      .greeting {
         width: 100%;
         color: var(--gray-600);

         h1 {
            font-size: var(--fs-4);
            font-weight: 800;
            line-height: 1.25;
         }

         h2 {
            font-size: var(--fs-3);
            font-weight: 400;
            line-height: 1.25;
         }
      }

      .date {
         width: 100%;
         text-align: center;
         padding: var(--spx-12) var(--spx-8);
         background-color: var(--secondary);
         border-radius: var(--spx-8);
         font-size: var(--fs-4);
         font-weight: 600;
         color: var(--gray-600);
      }

      .room-navigation {
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: flex-start;
         gap: var(--spx-8);

         input[type="search"] {
            width: 100%;
            font-size: var(--fs-4);
            padding: var(--spx-8);
            border-radius: var(--spx-8);
            background-color: var(--secondary);
            border: 1px solid transparent;
         }
         input[type="search"]:focus {
            border-color: var(--primary);
         }

         .btn {
            width: 100%;
            font-size: var(--fs-5);
            font-weight: 500;
            padding: var(--spx-8);
            text-align: center;
            background-color: var(--primary);
            border-radius: var(--spx-8);
            color: var(--gray-100);
         }
      }

      .item-navigation {
         width: fit-content;
         text-align: center;
         font-size: var(--fs-2);
         font-weight: 400;
         color: var(--gray-600);
         text-decoration: underline;
      }
      .item-navigation:active {
         color: var(--gray-900);
      }
   }

   .main {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding: var(--spx-16) var(--spx-48);
      gap: var(--spx-16);

      > .header {
         width: 100%;
         height: fit-content;

         h1 {
            font-size: var(--fs-5);
            font-weight: 700;
            color: var(--gray-700);
         }
      }

      .container {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         gap: var(--spx-16);

         .card {
            min-width: 40%;
            background-color: var(--secondary);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: var(--spx-8);
            padding: var(--spx-8);
            border-radius: var(--spx-12);
            flex: 1;
            color: var(--primary);

            .icon {
               font-size: calc(var(--fs-10) * 2);
            }

            h1 {
               text-align: center;
               font-size: var(--fs-3);
               font-weight: 500;
               color: var(--gray-600);
            }
         }
         .card:active {
            transform: scale(1.05);
         }
      }
   }
}

/* ===== Activity style start ===== */
.public-layout .submited-request,
.public-layout .approval-status,
.public-layout .booked-room,
.public-layout .booked-item,
.public-layout .room-show,
.public-layout .booking,
.public-layout .booking-show,
.public-layout .schedule {
   width: 100%;
   min-height: 50svh;
   height: fit-content;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding-top: var(--spx-32);
   padding-bottom: var(--spx-128);

   > .header {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--spx-8);
      padding: 0 var(--spx-48);
      padding-bottom: var(--spx-12);

      .logo {
         width: 100%;
         display: flex;
         justify-content: flex-start;
         align-items: flex-start;

         img {
            aspect-ratio: 1/1;
            height: 100%;
            width: var(--spx-48);
            transform: translateX(calc(var(--spx-8) - var(--spx-16)));
         }
      }

      .activity {
         width: 100%;
         color: var(--gray-600);

         h1 {
            font-size: var(--fs-4);
            font-weight: 800;
            line-height: 1.25;
         }

         h2 {
            font-size: var(--fs-3);
            font-weight: 400;
            line-height: 1.25;
         }
      }
   }
}

.public-layout .submited-request,
.public-layout .approval-status,
.public-layout .booked-room {
   .main {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: var(--spx-8);
      padding: 0 var(--spx-48);

      .list {
         width: 100%;
         height: fit-content;
         background-color: var(--secondary);
         border-radius: var(--spx-12);
         padding: var(--spx-8) var(--spx-16);
         color: var(--gray-600);

         img {
            overflow: hidden;
            aspect-ratio: 16/9;
            object-fit: cover;
            border-radius: var(--spx-8);
            top: 0;
            margin: var(--spx-8) 0;
         }

         h1 {
            font-size: var(--fs-3);
            font-weight: 600;
         }

         h2 {
            font-size: var(--fs-2);
            font-weight: 500;
         }

         span {
            color: var(--gray-900);
            font-weight: 600;
         }
      }
   }
}
.public-layout .booked-room .main .list h1 {
   text-align: center;
   color: var(--gray-100);
   text-shadow: 1px 1px 2px var(--gray-500);
}
/* ===== Activity style end ===== */

/* ===== Rooms style start ===== */
.public-layout .rooms {
   width: 100%;
   min-height: 50svh;
   height: fit-content;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding-top: var(--spx-32);
   padding-bottom: var(--spx-128);
   background: linear-gradient(
      to bottom,
      var(--thirdnary) 20svh,
      var(--white) 0%
   );

   > .header {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--spx-8);
      padding: 0 var(--spx-48);
      padding-bottom: var(--spx-12);
      background-color: var(--thirdnary);
      border-bottom-right-radius: var(--spx-32);
      border-bottom-left-radius: var(--spx-32);

      .logo {
         width: 100%;
         display: flex;
         justify-content: flex-start;
         align-items: flex-start;

         img {
            aspect-ratio: 1/1;
            height: 100%;
            width: var(--spx-48);
            transform: translateX(calc(var(--spx-8) - var(--spx-16)));
         }
      }

      .greeting {
         width: 100%;
         color: var(--gray-600);

         h1 {
            font-size: var(--fs-4);
            font-weight: 800;
            line-height: 1.25;
         }

         h2 {
            font-size: var(--fs-3);
            font-weight: 400;
            line-height: 1.25;
         }
      }

      .date {
         width: 100%;
         text-align: center;
         padding: var(--spx-12) var(--spx-8);
         background-color: var(--secondary);
         border-radius: var(--spx-8);
         font-size: var(--fs-4);
         font-weight: 600;
         color: var(--gray-600);
      }

      .room-navigation {
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: flex-start;
         flex-wrap: wrap;
         gap: var(--spx-8);

         input[type="search"] {
            width: 100%;
            font-size: var(--fs-4);
            padding: var(--spx-8);
            border-radius: var(--spx-8);
            background-color: var(--secondary);
            border: 1px solid transparent;
         }
         input[type="search"]:focus {
            border-color: var(--primary);
         }

         .btn {
            flex: 1;
            min-width: 25%;
            font-size: var(--fs-2);
            font-weight: 500;
            padding: var(--spx-8);
            text-align: center;
            background-color: var(--primary);
            border-radius: var(--spx-8);
            color: var(--gray-100);
         }
      }
   }

   .main {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      gap: var(--spx-32);
      padding: 0 var(--spx-48);
      padding-top: var(--spx-16);

      .recomendation {
         width: 100%;
         display: flex;
         flex-direction: column;
         gap: var(--spx-8);

         > h1 {
            font-size: var(--fs-4);
            font-weight: 600;
            color: var(--gray-600);
         }

         .container {
            background-color: var(--primary);
            padding: var(--spx-24) var(--spx-32);
            border-radius: var(--spx-16);
            display: flex;
            flex-direction: column;
            gap: var(--spx-8);

            .card {
               display: flex;
               flex-direction: column;

               h1 {
                  text-align: center;
                  font-size: var(--fs-3);
                  font-weight: 700;
                  color: var(--gray-100);
               }

               .image {
                  padding: var(--spx-8) var(--spx-16);
                  background-color: var(--secondary);
                  border-radius: var(--spx-12);

                  img {
                     aspect-ratio: 16/9;
                     object-fit: cover;
                     object-position: top;
                     border-radius: var(--spx-8);
                  }
               }
            }
         }
      }

      .room-list {
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: flex-start;

         > h1 {
            font-size: var(--fs-4);
            font-weight: 600;
            color: var(--gray-600);
         }

         .container {
            width: 100%;
            max-height: 50svh;
            display: flex;
            flex-direction: column;
            align-content: center;
            gap: var(--spx-8);
            overflow: auto;
            border-radius: var(--spx-8);
            padding-bottom: var(--spx-8);
            border-bottom: calc(var(--spx-8) / 4) solid var(--primary);

            .list {
               width: 100%;
               height: fit-content;
               background-color: var(--secondary);
               border-radius: var(--spx-12);
               padding: var(--spx-8) var(--spx-16);
               color: var(--gray-600);

               img {
                  overflow: hidden;
                  aspect-ratio: 16/9;
                  object-fit: cover;
                  border-radius: var(--spx-8);
                  top: 0;
                  margin: var(--spx-8) 0;
               }

               h1 {
                  font-size: var(--fs-3);
                  font-weight: 600;
               }

               h2 {
                  font-size: var(--fs-2);
                  font-weight: 500;
               }

               span {
                  color: var(--gray-900);
                  font-weight: 600;
               }
            }
         }
      }
   }
}

.public-layout .room-show .main {
   width: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
   gap: var(--spx-16);
   padding: 0 var(--spx-48);
   padding-top: var(--spx-16);

   .image {
      padding: var(--spx-24) var(--spx-16);
      background-color: var(--primary);
      border-radius: var(--spx-12);

      img {
         aspect-ratio: 16/10;
         object-fit: cover;
         object-position: top;
         border-radius: var(--spx-8);
      }
   }

   .detail {
      width: 100%;
      background-color: var(--secondary);
      padding: var(--spx-24);
      border-radius: var(--spx-12);

      table {
         width: 100%;
         table-layout: fixed;

         tr {
            td:nth-child(1) {
               width: 40%;
               font-weight: 500;
            }
            td:nth-child(2) {
               width: 5%;
            }

            td {
               font-size: var(--fs-3);
               font-weight: 400;
            }
         }
      }
   }

   .action {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .btn:nth-child(1) {
         background-color: var(--secondary);
         color: var(--gray-600);
      }
      .btn:nth-child(2) {
         background-color: var(--primary);
         color: var(--gray-100);
      }
      .btn {
         padding: var(--spx-8) var(--spx-24);
         border-radius: var(--spx-8);
         font-size: var(--fs-4);
         font-weight: 600;
      }
      .btn:active {
         transform: scale(1.05);
      }
   }
}
/* ===== Rooms style end ===== */

/* ===== Booking style start ===== */
.public-layout .booking .main {
   width: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
   gap: var(--spx-16);
   padding: 0 var(--spx-48);
   padding-top: var(--spx-16);

   form {
      width: 100%;
      height: fit-content;
   }

   .container {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      gap: var(--spx-12);

      .input {
         width: 100%;
         height: fit-content;
         display: flex;
         flex-direction: column;
         position: relative;
         background-color: var(--secondary);
         font-size: var(--fs-3);
         padding: var(--spx-8);
         font-weight: 400;
         border-radius: var(--spx-8);
         color: var(--gray-700);
         overflow: hidden;

         input,
         select {
            width: 100%;
            height: 100%;
            background-color: var(--secondary);
            color: var(--gray-700);
         }
         label {
            width: 50%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            white-space: nowrap;
            background-color: var(--secondary);
            padding: var(--spx-8);
         }
         input:focus + label,
         input:valid + label,
         select:focus + label,
         select:valid + label {
            transform: translateX(50%);
            opacity: 0;
         }
      }
   }

   .footer {
      width: 100%;
      margin-top: var(--spx-32);

      .btn {
         width: 100%;
         background-color: var(--primary);
         padding: var(--spx-8);
         text-align: center;
         font-size: var(--fs-3);
         font-weight: 600;
         color: var(--gray-100);
         border-radius: var(--spx-8);
      }
   }
}

.public-layout .booking-show .main {
   width: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
   gap: var(--spx-16);
   padding: 0 var(--spx-48);
   padding-top: var(--spx-16);

   .image {
      padding: var(--spx-24) var(--spx-16);
      background-color: var(--primary);
      border-radius: var(--spx-12);

      img {
         aspect-ratio: 16/10;
         object-fit: cover;
         object-position: top;
         border-radius: var(--spx-8);
      }
   }

   .detail {
      width: 100%;
      background-color: var(--secondary);
      padding: var(--spx-24);
      border-radius: var(--spx-12);
      overflow-x: auto;

      table {
         width: calc(var(--spx-256) * 2);
         table-layout: fixed;

         tr {
            td:nth-child(1) {
               width: 35%;
               font-weight: 500;
            }
            td:nth-child(2) {
               width: 5%;
            }

            td {
               font-size: var(--fs-3);
               font-weight: 400;
               white-space: nowrap;
               padding: var(--px-8);
            }
         }
      }
   }

   .action {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .btn:nth-child(1) {
         background-color: var(--secondary);
         color: var(--gray-600);
      }
      .btn:nth-child(2) {
         background-color: var(--primary);
         color: var(--gray-100);
      }
      .btn {
         padding: var(--spx-8) var(--spx-24);
         border-radius: var(--spx-8);
         font-size: var(--fs-4);
         font-weight: 600;
      }
      .btn:active {
         transform: scale(1.05);
      }
   }
}
/* ===== Booking style end ===== */

/* ===== Navigation-page style start ===== */
.public-layout .schedule .main {
   width: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
   gap: var(--spx-16);
   padding: 0 var(--spx-48);
   padding-top: var(--spx-16);

   .calender-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      > h1 {
         font-size: var(--fs-4);
         font-weight: 600;
         color: var(--gray-600);
      }

      .calender {
         border-color: var(--primary);
         border-radius: var(--spx-8);
      }
   }

   .room-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      > h1 {
         font-size: var(--fs-4);
         font-weight: 600;
         color: var(--gray-600);
      }

      .container {
         width: 100%;
         max-height: 50svh;
         display: flex;
         flex-direction: column;
         align-content: center;
         gap: var(--spx-8);
         overflow: auto;
         border-radius: var(--spx-8);
         padding-bottom: var(--spx-8);
         border-bottom: calc(var(--spx-8) / 4) solid var(--primary);

         .list {
            width: 100%;
            height: fit-content;
            background-color: var(--secondary);
            border-radius: var(--spx-12);
            padding: var(--spx-8) var(--spx-16);
            color: var(--gray-600);

            img {
               overflow: hidden;
               aspect-ratio: 16/9;
               object-fit: cover;
               border-radius: var(--spx-8);
               top: 0;
               margin: var(--spx-8) 0;
            }

            h1 {
               font-size: var(--fs-3);
               font-weight: 600;
            }

            h2 {
               font-size: var(--fs-2);
               font-weight: 500;
            }

            span {
               color: var(--gray-900);
               font-weight: 600;
            }
         }
      }
   }
}

.public-layout .profile {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: var(--spx-32);
   padding: var(--spx-64) var(--spx-32) var(--spx-128) var(--spx-32);

   .header {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
         font-size: var(--fs-6);
         font-weight: 700;
         color: var(--gray-700);
      }

      img {
         aspect-ratio: 1/1;
         width: 40%;
         height: auto;
      }

      h2 {
         font-size: var(--fs-5);
         font-weight: 500;
         color: var(--gray-700);
      }
   }

   .main {
      width: 100%;
      padding: var(--spx-16);
      background-color: var(--thirdnary);
      display: flex;
      flex-direction: column;
      gap: var(--spx-16);
      border-radius: var(--spx-12);

      .row {
         display: flex;
         align-items: center;

         h1 {
            min-width: 30%;
            font-size: var(--fs-4);
            font-weight: 600;
            color: var(--gray-700);
         }

         h2 {
            font-size: var(--fs-4);
            font-weight: 500;
            color: var(--gray-700);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
         }
      }
      .row:nth-child(3) h2 {
         font-size: var(--fs-3);
      }
   }

   .footer {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: var(--spx-32);

      .btn.admin {
         background-color: var(--btn-info);
      }
      .btn {
         min-width: fit-content;
         width: var(--spx-128);
         text-align: center;
         background-color: var(--btn-danger);
         padding: var(--spx-8) var(--spx-32);
         font-size: var(--fs-4);
         font-weight: 600;
         color: var(--gray-100);
         border-radius: var(--spx-12);
      }
   }
}
/* ===== Navigation-page style end ===== */

@media screen and (max-width: 768px) and (orientation: landscape) {
   .public-layout .home {
      padding-top: var(--px-64);
      padding-bottom: var(--px-256);
      gap: var(--px-32);

      > .header {
         gap: var(--px-16);
         padding: 0 var(--px-128);
         padding-bottom: var(--px-24);
         border-bottom-right-radius: var(--px-64);
         border-bottom-left-radius: var(--px-64);

         .logo img {
            width: calc(var(--px-48) * 2);
            transform: translateX(calc(var(--px-8) - var(--px-16)));
         }

         .date {
            padding: var(--px-24) var(--px-16);
            border-radius: var(--px-8);
         }

         .room-navigation {
            gap: var(--px-16);

            input[type="search"] {
               padding: var(--px-24);
               border-radius: var(--px-16);
            }

            .btn {
               padding: var(--px-16);
               border-radius: var(--px-16);
            }
         }
      }

      .main {
         padding: var(--px-32) var(--px-128);
         gap: var(--px-32);

         .container {
            width: 100%;
            gap: var(--px-32);

            .card {
               gap: var(--px-16);
               padding: var(--px-32);
               border-radius: var(--px-24);
               flex: 1;
               color: var(--primary);
            }
         }
      }
   }

   /* ===== Activity style start ===== */
   .public-layout .submited-request,
   .public-layout .approval-status,
   .public-layout .booked-room,
   .public-layout .booked-item,
   .public-layout .room-show,
   .public-layout .booking,
   .public-layout .booking-show,
   .public-layout .schedule {
      width: 100%;
      min-height: 50svh;
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-top: var(--px-64);
      padding-bottom: var(--px-256);

      > .header {
         gap: var(--px-16);
         padding: 0 var(--px-128);
         padding-bottom: var(--px-24);

         .logo img {
            width: calc(var(--px-48) * 2);
            transform: translateX(calc(var(--px-16) - var(--px-32)));
         }
      }
   }

   .public-layout .submited-request,
   .public-layout .approval-status,
   .public-layout .booked-room {
      .main {
         gap: var(--px-16);
         padding: 0 var(--px-128);

         .list {
            border-radius: var(--px-24);
            padding: var(--px-16) var(--px-32);

            img {
               border-radius: var(--px-16);
               margin: var(--px-16) 0;
            }
         }
      }
   }
   /* ===== Activity style end ===== */

   /* ===== Rooms style start ===== */
   .public-layout .rooms {
      padding-top: var(--px-64);
      padding-bottom: var(--px-128);

      > .header {
         gap: var(--px-16);
         padding: 0 var(--px-128);
         padding-bottom: var(--px-24);
         border-bottom-right-radius: var(--px-64);
         border-bottom-left-radius: var(--px-64);

         .logo img {
            width: calc(var(--px-48) * 2);
            transform: translateX(calc(var(--px-16) - var(--px-32)));
         }

         .room-navigation {
            gap: var(--px-16);

            input[type="search"] {
               padding: var(--px-16);
               border-radius: var(--px-16);
            }

            .btn {
               padding: var(--px-16);
               border-radius: var(--px-16);
            }
         }
      }

      .main {
         gap: var(--px-64);
         padding: 0 var(--px-128);
         padding-top: var(--px-32);

         .recomendation {
            gap: var(--px-16);

            .container {
               padding: var(--px-48) var(--px-64);
               border-radius: var(--px-32);
               gap: var(--px-16);

               .card .image {
                  padding: var(--px-32) var(--px-48);
                  border-radius: var(--px-24);

                  img {
                     border-radius: var(--px-16);
                  }
               }
            }
         }

         .room-list .container {
            gap: var(--px-16);
            border-radius: var(--px-16);
            padding-bottom: var(--px-16);
            border-bottom: calc(var(--px-16) / 4) solid var(--primary);

            .list {
               border-radius: var(--px-24);
               padding: var(--px-16) var(--px-32);

               img {
                  border-radius: var(--px-16);
                  margin: var(--px-16) 0;
               }
            }
         }
      }
   }

   .public-layout .room-show .main {
      gap: var(--px-32);
      padding: 0 var(--px-128);
      padding-top: var(--px-32);

      .image {
         padding: var(--px-48) var(--px-32);
         border-radius: var(--px-24);

         img {
            border-radius: var(--px-16);
         }
      }

      .detail {
         padding: var(--px-48);
         border-radius: var(--px-24);
      }

      .action {
         justify-content: space-around;

         .btn {
            padding: var(--px-16) var(--px-48);
            border-radius: var(--px-16);
         }
      }
   }
   /* ===== Rooms style end ===== */

   /* ===== Booking style start ===== */
   .public-layout .booking .main {
      gap: var(--px-32);
      padding: 0 var(--px-128);
      padding-top: var(--px-32);

      .container {
         gap: var(--px-24);

         .input {
            padding: var(--px-24);
            border-radius: var(--px-16);

            label {
               padding: var(--px-24);
            }
         }
      }

      .footer {
         margin-top: var(--px-32);

         .btn {
            padding: var(--px-16);
            border-radius: var(--px-16);
         }
      }
   }

   .public-layout .booking-show .main {
      gap: var(--px-32);
      padding: 0 var(--px-128);
      padding-top: var(--px-32);

      .image {
         padding: var(--spx-48) var(--px-32);
         border-radius: var(--px-24);

         img {
            border-radius: var(--px-16);
         }
      }

      .detail {
         padding: var(--px-48);
         border-radius: var(--px-24);

         table {
            width: max-content;

            tr td {
               padding: var(--px-8);
            }
         }
      }

      .action .btn {
         padding: var(--px-16) var(--px-48);
         border-radius: var(--px-16);
      }
   }
   /* ===== Booking style end ===== */

   /* ===== Navigation-page style start ===== */
   .public-layout .schedule .main {
      gap: var(--px-32);
      padding: 0 var(--px-128);
      padding-top: var(--px-32);

      .calender-container {
         justify-content: center;
         align-items: center;

         .calender {
            border-radius: var(--px-16);
         }
      }

      .room-list .container {
         gap: var(--px-16);
         border-radius: var(--px-16);
         padding-bottom: var(--px-16);
         border-bottom: calc(var(--px-16) / 4) solid var(--primary);

         .list {
            border-radius: var(--px-24);
            padding: var(--px-16) var(--px-32);

            img {
               border-radius: var(--px-16);
               margin: var(--px-16) 0;
            }
         }
      }
   }

   .public-layout .profile {
      gap: var(--px-32);
      padding: var(--px-128);
      padding-bottom: var(--px-256);
      flex-direction: row;
      flex-wrap: wrap;

      .header {
         flex: 1;
         max-width: 30%;
         height: calc(var(--px-256) * 1.2);
         background-color: var(--thirdnary);
         border-radius: var(--px-16);

         img {
            width: 50%;
            height: auto;
         }

         h2 {
            display: none;
         }
      }

      .main {
         flex: 1;
         height: calc(var(--px-256) * 1.2);
         padding: var(--px-32);
         justify-content: space-evenly;
         border-radius: var(--px-16);
      }

      .footer {
         margin-top: var(--px-32);

         .btn {
            padding: var(--px-16) var(--px-64);
            border-radius: var(--px-24);
         }
      }
   }
   /* ===== Navigation-page style end ===== */
}
