:root {
   --primary: #377442;
   --secondary: #afe1c6;
   --thirdnary: #d4f7e4;

   --white: #fff;
   --black: #000;

   --gray-50: #f8fafc;
   --gray-100: #f1f5f9;
   --gray-200: #e2e8f0;
   --gray-300: #cbd5e1;
   --gray-400: #94a3b8;
   --gray-500: #64748b;
   --gray-600: #475569;
   --gray-700: #334155;
   --gray-800: #1e293b;
   --gray-900: #0f172a;

   /* === Satuan pixel untuk desktop === */
   --px-8: clamp(4px, 0.5vw, 0.5vw);
   --px-12: clamp(6px, 0.75vw, 0.75vw);
   --px-16: clamp(8px, 1vw, 1vw);
   --px-24: clamp(12px, 1.5vw, 1.5vw);
   --px-32: clamp(16px, 2vw, 2vw);
   --px-40: clamp(20px, 2.5vw, 2.5vw);
   --px-48: clamp(24px, 3vw, 3vw);
   --px-56: clamp(28px, 3.5vw, 3.5vw);
   --px-64: clamp(32px, 4vw, 4vw);
   --px-128: clamp(64px, 8vw, 8vw);
   --px-192: clamp(96px, 12vw, 12vw);
   --px-256: clamp(128px, 16vw, 16vw);

   /* === Satuan pixel untuk mobile === */
   --spx-8: 1vh;
   --spx-12: 1.5vh;
   --spx-16: 2vh;
   --spx-24: 3vh;
   --spx-32: 4vh;
   --spx-40: 5vh;
   --spx-48: 6vh;
   --spx-56: 7vh;
   --spx-64: 8vh;
   --spx-128: 16vh;
   --spx-192: 24vh;
   --spx-256: 32vh;

   /* === Satuan font responsive === */
   --rfs-1: clamp(2px, 0.33vw, 0.675rem);
   --rfs-2: clamp(4px, 0.67vw, 1.25rem);
   --rfs-3: clamp(6px, 0.88vw, 1.75rem);
   --rfs-4: clamp(8px, 1.17vw, 2.25rem);
   --rfs-5: clamp(10px, 1.47vw, 3rem);
   --rfs-6: clamp(12px, 1.76vw, 3.5rem);
   --rfs-7: clamp(14px, 2.05vw, 4rem);
   --rfs-8: clamp(16px, 2.34vw, 5rem);
   --rfs-9: clamp(20px, 2.93vw, 6rem);
   --rfs-10: clamp(24px, 3.52vw, 7rem);
   --rfs-11: clamp(28px, 4.1vw, 8rem);
   --rfs-12: clamp(32px, 4.69vw, 9rem);

   /* === Satuan font lebih besar === */
   --fs-1: calc(var(--rfs-1) * 2);
   --fs-2: calc(var(--rfs-2) * 2);
   --fs-3: calc(var(--rfs-3) * 2);
   --fs-4: calc(var(--rfs-4) * 2);
   --fs-5: calc(var(--rfs-5) * 2);
   --fs-6: calc(var(--rfs-6) * 2);
   --fs-7: calc(var(--rfs-7) * 2);
   --fs-8: calc(var(--rfs-8) * 2);
   --fs-9: calc(var(--rfs-9) * 2);
   --fs-10: calc(var(--rfs-10) * 2);
   --fs-11: calc(var(--rfs-11) * 2);
   --fs-12: calc(var(--rfs-12) * 2);

   --btn-danger: #dc3545;
   --btn-warning: #f59e0b;
   --btn-info: #0dcaf0;
   --btn-save: #28a745;
   --btn-neutral: #868e96;
}

/* ===== Custom confirm & loading modal style start ===== */
.confirm-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.4);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;

   .confirm-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: var(--white);
      border-radius: var(--spx-8);
      max-width: 80%;
      padding: var(--spx-24);
      gap: var(--spx-12);

      box-shadow: 0 2px 1px var(--gray-100);
      text-align: center;
      font-size: var(--fs-2);

      .logo {
         width: 100%;
         display: flex;
         justify-content: center;
         font-size: var(--spx-64);
      }
      .logo.success {
         color: var(--btn-save);
      }
      .logo.failed {
         color: var(--btn-danger);
      }

      p {
         width: fit-content;
         font-size: var(--fs-4);
      }

      .confirm-buttons {
         width: 100%;
         display: flex;
         justify-content: center;
         gap: var(--px-24);

         button {
            padding: var(--spx-8) var(--spx-16);
            cursor: pointer;
            border: none;
            border-radius: 4px;
            color: var(--white);
            transition: 0.2s ease;
            font-size: var(--fs-3);
            background-color: var(--btn-info);
         }
         button.yes {
            background-color: var(--btn-save);
         }
         button.no {
            background-color: var(--btn-danger);
         }
         button:active {
            background-color: var(--gray-200);
         }
      }

      .loading {
         aspect-ratio: 1/1;
         width: var(--spx-64);
         height: var(--spx-64);
         border: var(--px-8) solid var(--gray-100);
         border-top: var(--px-8) solid var(--secondary);
         border-radius: 50%;
         animation: spin 1s linear infinite;
         margin: auto;
      }
   }
}

@media screen and (min-width: 769px) {
   .confirm-overlay .confirm-box {
      font-size: var(--rfs-2);

      .loading {
         width: var(--px-64);
         height: var(--px-64);
         border: var(--px-8) solid var(--gray-100);
         border-top: var(--px-8) solid var(--secondary);
      }

      p {
         font-size: var(--rfs-4);
      }

      .confirm-buttons button {
         font-size: var(--rfs-3);
      }
   }
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
/* ===== Custom confirm & loading modal style end ===== */

html,
body {
   width: 100%;
   height: 100%;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
   box-sizing: border-box;
}

/* 2. Remove default margin */
* {
   font-family: "Poppins", sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   scroll-behavior: smooth;
   transition: 0.3s ease;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
   html {
      interpolate-size: allow-keywords;
   }
}

body {
   /* 4. Add accessible line-height */
   line-height: 1.5;
   /* 5. Improve text rendering */
   -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
   display: block;
   max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
   font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
   overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
   text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   text-wrap: balance;
}

/*
   10. Create a root stacking context
 */
#root,
#__next {
   isolation: isolate;
}

#root {
   width: 100%;
   height: max-content;
}
