.admin-layout .dashboard {
   width: 100%;
   display: flex;
   flex-direction: column;
   padding: var(--px-64);
   gap: calc(var(--px-64) + var(--px-16));

   > .number-data {
      width: 100%;
      height: fit-content;
      display: flex;
      gap: var(--px-16);
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;

      > h1 {
         padding-left: var(--px-8);
         min-width: 100%;
         font-weight: 600;
         font-size: var(--fs-8);
         color: var(--gray-900);
         line-height: 1;
         text-shadow: 1px 1px 2px var(--gray-500);
      }

      > .left-content {
         flex: 1;
         max-width: 40%;
         height: calc(var(--px-256) * 2);
         background-color: var(--gray-100);
         border-radius: var(--px-16);
         padding: var(--px-32);
         box-shadow: 1px 1px 3px var(--primary);

         .calender {
            border-color: transparent;
            background-color: var(--gray-100);
            font-size: var(--fs-5);
         }
      }

      > .right-content {
         flex: 1;
         max-width: 60%;
         height: calc(var(--px-256) * 2);
         background-color: var(--gray-100);
         border-radius: var(--px-16);
         box-shadow: 1px 1px 3px var(--primary);

         .container {
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: var(--px-32);
            gap: var(--px-32);
         }

         .card {
            flex: 1;
            min-width: 40%;
            min-height: fit-content;
            height: calc(var(--px-128) * 1.5);
            background-color: var(--primary);
            padding: var(--px-8);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            color: var(--thirdnary);
            border-radius: var(--px-16);

            h1 {
               font-size: var(--fs-10);
               font-weight: 700;
               line-height: 1;
            }

            h2 {
               font-size: var(--fs-7);
               font-weight: 500;
            }

            h3 {
               font-size: var(--fs-5);
               font-weight: 400;
            }
         }
         .card:hover {
            transform: scale(1.05);
            box-shadow: 0 0 12px var(--gray-500);
         }
      }
   }

   > .coming-event,
   > .approve {
      width: 100%;
      height: fit-content;
      display: flex;
      gap: var(--px-16);
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;

      > h1 {
         padding-left: var(--px-8);
         min-width: 100%;
         font-weight: 600;
         font-size: var(--fs-8);
         color: var(--gray-900);
         line-height: 1;
         text-shadow: 1px 1px 2px var(--gray-500);
      }

      table {
         width: 100%;
         table-layout: fixed;
         border-collapse: collapse;
         box-shadow: 0px 1px 4px var(--gray-700);
         border-radius: var(--px-8);
         overflow: hidden;
      }

      table.coming-event {
         tr {
            display: flex;

            th {
               background-color: var(--primary);
               color: var(--gray-100);
               font-weight: 600;
            }

            td {
               font-weight: 500;
               background-color: var(--secondary);
               text-overflow: ellipsis;
               overflow: hidden;
               white-space: nowrap;
            }

            td,
            th {
               flex: 1;
               padding: var(--px-8) var(--px-24);
               font-size: var(--fs-3);
               text-align: center;
            }

            th,
            td {
               text-align: left;
               max-width: 20%;
            }
            th:nth-child(2),
            td:nth-child(2) {
               max-width: 40%;
            }
            th:nth-child(2) {
               text-align: center;
            }

            td.footer {
               max-width: 100%;
               text-align: center;
               color: var(--btn-danger);
            }
         }
         tr:hover td {
            background-color: var(--thirdnary);
            cursor: pointer;
         }

         tfoot tr.footer td {
            max-width: 100%;
            text-align: center;
            border-top: calc(var(--px-8) / 4) solid var(--gray-100);
            color: var(--primary);
            cursor: pointer;
         }
      }

      table.approve {
         tr {
            display: flex;

            th {
               background-color: var(--primary);
               color: var(--gray-100);
               font-weight: 600;
            }

            td {
               font-weight: 500;
               background-color: var(--secondary);
               text-overflow: ellipsis;
               overflow: hidden;
               white-space: nowrap;
            }

            td,
            th {
               flex: 1;
               padding: var(--px-8) var(--px-24);
               font-size: var(--fs-3);
               text-align: center;
            }

            th:nth-child(3),
            td:nth-child(3),
            th:last-child,
            td:last-child {
               max-width: 30%;
            }
            th:first-child,
            td:first-child,
            th:nth-child(2),
            td:nth-child(2) {
               max-width: 20%;
            }

            td.footer {
               max-width: 100%;
               text-align: center;
               color: var(--btn-danger);
            }
         }
         tr:hover td {
            background-color: var(--thirdnary);
            cursor: pointer;
         }

         tfoot tr.footer td {
            max-width: 100%;
            text-align: center;
            border-top: calc(var(--px-8) / 4) solid var(--gray-100);
            color: var(--primary);
            cursor: pointer;
         }
      }
   }
}

.admin-layout .modals {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 110;
   display: flex;
   justify-content: center;
   align-items: center;

   .container {
      display: flex;
      max-width: calc(var(--px-256) * 4);
      width: fit-content;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      gap: var(--px-8);
      background-color: var(--gray-100);
      padding: var(--px-32) var(--px-16);
      border-radius: var(--px-12);
      box-shadow: 1px 1px 4px var(--gray-500);
      border: calc(var(--px-8) / 3) solid var(--primary);

      .column {
         flex: 1;
         max-width: 50%;
      }

      > h1 {
         width: 100%;
         font-size: var(--fs-5);
         font-weight: 500;
         color: var(--gray-800);
      }

      .input.gambar {
         label {
            aspect-ratio: 16/9;
            width: calc(var(--px-256) * 1.5);
            height: auto;
            font-size: var(--fs-3);
            padding: var(--px-8);
            background-color: var(--thirdnary);
            border-radius: var(--px-8);
            border: 1px solid transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;

            input {
               display: none;
            }

            img {
               position: absolute;
               top: 0;
               left: 0;
               aspect-ratio: 16/9;
               object-fit: cover;
               width: 100%;
               height: 100%;
            }
         }
         label.has-file {
            background-color: transparent;
         }
      }

      .input {
         min-width: calc(var(--px-256) * 1.5);
         height: fit-content;
         display: flex;
         flex-direction: column;

         label {
            font-size: var(--fs-3);
            font-weight: 400;
         }

         input,
         select {
            width: 100%;
            font-size: var(--fs-3);
            padding: var(--px-8);
            background-color: var(--thirdnary);
            border-radius: var(--px-8);
            border: 1px solid transparent;
         }
         input:focus,
         select:focus {
            border-color: var(--primary);
            box-shadow: 0 0 var(--px-16) var(--primary);
         }
      }

      .button {
         margin-top: var(--px-12);
         width: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;

         .btn {
            aspect-ratio: 1/1;
            padding: var(--px-8);
            background-color: var(--btn-danger);
            color: var(--white);
            font-size: var(--fs-5);
            font-weight: 800;
            border-radius: var(--px-8);
            cursor: pointer;
         }
         .btn.edit {
            background-color: var(--btn-info);
            margin-left: var(--px-8);
         }
         .btn.save {
            background-color: var(--btn-save);
            margin-left: var(--px-8);
         }
         .btn.disable,
         .btn:hover {
            background-color: var(--gray-200);
            color: var(--gray-800);
         }
      }
   }
   .container.loans {
      flex-direction: row;
   }
}

.admin-layout .pages {
   width: 100%;
   height: 100%;
   flex: 1;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   gap: var(--px-32);
   padding: var(--px-32) var(--px-64);

   > .navigation {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
         font-size: var(--fs-7);
         font-weight: 600;
         color: var(--gray-800);
         text-shadow: 1px 1px 2px var(--primary);
         padding: 0 var(--px-8);
         border-bottom-right-radius: var(--px-8);
         border-bottom: calc(var(--px-8) / 2) solid var(--primary);
      }

      > .container {
         height: 100%;
         display: flex;
      }

      .btn {
         aspect-ratio: 1/1;
         width: var(--px-40);
         margin-right: var(--px-8);
         padding: var(--px-8);
         color: var(--gray-100);
         font-size: var(--fs-3);
         border-radius: var(--px-16);
         background-color: var(--btn-save);
         border-bottom: calc(var(--px-8) / 4) solid var(--primary);
         border-right: calc(var(--px-8) / 4) solid var(--primary);
         cursor: pointer;

         .icon {
            width: 100%;
            height: 100%;
         }
      }
      .btn:hover {
         cursor: pointer;
         background-color: var(--primary);
         color: var(--gray-100);
      }

      input {
         min-width: var(--px-256);
         width: 30%;
         background-color: var(--gray-100);
         padding: var(--px-8);
         padding-left: var(--px-24);
         border-radius: var(--px-16);
         border-bottom: calc(var(--px-8) / 4) solid var(--primary);
         border-right: calc(var(--px-8) / 4) solid var(--primary);
         font-size: var(--fs-3);
         font-weight: 400;
      }
      input:focus {
         box-shadow: 0 0 var(--px-16) var(--primary);
      }
   }

   > .pagination {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left-section {
         display: flex;
         align-items: center;
         gap: var(--px-16);

         .btn {
            font-size: var(--fs-4);
            padding: calc(var(--px-8) / 2) var(--px-24);
            background-color: var(--primary);
            color: var(--gray-200);
            border-radius: var(--px-8);
         }
         .btn.disable {
            background-color: var(--gray-300);
            color: var(--gray-500);
         }
         .btn:hover:not(.disable) {
            cursor: pointer;
            background-color: var(--gray-500);
            color: var(--gray-100);
         }
      }

      .middle-section {
         display: flex;
         justify-content: center;
         align-content: center;
         gap: var(--px-8);
         background-color: var(--gray-200);
         padding: calc(var(--px-8) / 2) var(--px-8);
         border-radius: var(--px-12);

         h1 {
            font-size: var(--fs-5);
            font-weight: 400;
            color: var(--gray-800);
         }

         .btn {
            background-color: transparent;
            color: var(--primary);
            cursor: pointer;
         }
         .btn:hover {
            transform: scale(1.1);
         }

         .icon {
            aspect-ratio: 1/1;
            width: var(--px-24);
            height: 100%;
         }
      }

      .right-section {
         display: flex;
         align-items: center;
         gap: calc(var(--px-8) / 2);

         .btn {
            aspect-ratio: 1/1;
            height: auto;
            width: var(--px-40);
            border-radius: var(--px-8);
            background-color: var(--gray-200);
            border: calc(var(--px-8) / 4) solid var(--primary);
            color: var(--primary);
         }
         .btn.active {
            color: var(--gray-200);
            background-color: var(--primary);
         }
         .btn:hover:not(.active) {
            cursor: pointer;
            background-color: var(--secondary);
         }
      }
   }
}
.admin-layout .users > .container {
   flex: 1;
   width: 100%;
   max-width: 100%;
   border-top: calc(var(--px-8) / 3) solid var(--primary);
   border-bottom: calc(var(--px-8) / 3) solid var(--primary);

   table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;

      tr td,
      tr th {
         font-size: var(--fs-3);
         padding: calc(var(--px-8));
         color: var(--gray-800);
         text-overflow: ellipsis;
         overflow: hidden;
         white-space: nowrap;
      }
      tr th {
         font-weight: 600;
      }
      tr td {
         font-weight: 400;
         border-bottom: calc(var(--px-8) / 4) solid var(--primary);
      }

      tr:hover td {
         background-color: var(--secondary);
         cursor: pointer;
      }

      tr td.last {
         .button {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--px-16);

            .btn {
               aspect-ratio: 1/1;
               width: var(--px-32);
               height: auto;
               color: var(--white);
               background-color: var(--btn-danger);
               display: flex;
               justify-content: center;
               align-items: center;
               border-radius: var(--px-8);
               cursor: pointer;

               .icon {
                  width: 90%;
                  height: 90%;
                  background-color: transparent;
               }
            }
            .btn:first-child {
               background-color: var(--btn-info);
            }
            .btn:hover {
               transform: scale(1.1);
            }
         }
      }
   }
}
.admin-layout .rooms > .container {
   flex: 1;
   width: 100%;
   max-width: 100%;
   border-top: calc(var(--px-8) / 3) solid var(--primary);
   border-bottom: calc(var(--px-8) / 3) solid var(--primary);

   table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;

      tr td,
      tr th {
         font-size: var(--fs-3);
         padding: calc(var(--px-8));
         color: var(--gray-800);
         text-overflow: ellipsis;
         overflow: hidden;
         white-space: nowrap;
      }
      tr th {
         font-weight: 600;
      }
      tr td {
         font-weight: 400;
         border-bottom: calc(var(--px-8) / 4) solid var(--primary);
         text-align: center;
      }
      tr td:first-child {
         text-align: left;
      }

      tr:hover td {
         background-color: var(--secondary);
         cursor: pointer;
      }

      tr td.last {
         .button {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--px-16);

            .btn {
               aspect-ratio: 1/1;
               width: var(--px-32);
               height: auto;
               color: var(--white);
               background-color: var(--btn-danger);
               display: flex;
               justify-content: center;
               align-items: center;
               border-radius: var(--px-8);
               cursor: pointer;

               .icon {
                  width: 90%;
                  height: 90%;
                  background-color: transparent;
               }
            }
            .btn:first-child {
               background-color: var(--btn-info);
            }
            .btn:hover {
               transform: scale(1.1);
            }
         }
      }
   }
}
.admin-layout .loans > .container {
   flex: 1;
   width: 100%;
   max-width: 100%;
   border-top: calc(var(--px-8) / 3) solid var(--primary);
   border-bottom: calc(var(--px-8) / 3) solid var(--primary);
   scrollbar-width: 1;
   overflow-x: auto;

   table {
      width: 100%;
      border-collapse: collapse;
      position: relative;

      tr td,
      tr th {
         font-size: var(--fs-3);
         padding: calc(var(--px-8));
         color: var(--gray-800);
         text-overflow: ellipsis;
         overflow: hidden;
         white-space: nowrap;
      }
      tr th {
         font-weight: 600;
      }
      tr td {
         font-weight: 400;
         border-bottom: calc(var(--px-8) / 4) solid var(--primary);
         text-align: center;
      }
      tr td:first-child {
         text-align: left;
      }
      tr th:last-child,
      tr td:last-child {
         position: sticky;
         right: 0;
         z-index: 100;
         background-color: var(--thirdnary);
      }

      tr:hover td {
         background-color: var(--secondary);
         cursor: pointer;
      }

      tr td.last {
         .button {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--px-16);

            .btn {
               aspect-ratio: 1/1;
               width: var(--px-32);
               height: auto;
               color: var(--white);
               background-color: var(--btn-danger);
               display: flex;
               justify-content: center;
               align-items: center;
               border-radius: var(--px-8);
               cursor: pointer;

               .icon {
                  width: 90%;
                  height: 90%;
                  background-color: transparent;
               }
            }
            .btn:first-child {
               background-color: var(--btn-info);
            }
            .btn:hover {
               transform: scale(1.1);
            }
         }
      }
   }
}

.admin-layout .need-approval {
   > .top-content {
      width: 100%;
      max-height: fit-content;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: var(--px-32);

      .calender {
         flex: 2;
         width: calc(var(--px-256) * 2);
         height: calc(var(--px-256) * 1.6);
         background-color: var(--gray-100);
         border: none;
         border-radius: var(--px-16);
         border-bottom: calc(var(--px-8) / 4) solid var(--primary);
         border-right: calc(var(--px-8) / 4) solid var(--primary);
         overflow: hidden;

         button:hover {
            background-color: var(--secondary);
         }
         button.react-calendar__tile--active {
            background-color: var(--primary);
         }
      }

      > .container {
         flex: 3;
         overflow: auto;
         max-width: 100%;
         max-height: 100%;
         height: calc(var(--px-256) * 1.6);
         border-radius: var(--px-16);
         border-bottom: calc(var(--px-8) / 4) solid var(--primary);
         border-right: calc(var(--px-8) / 4) solid var(--primary);
         display: flex;
         flex-wrap: wrap;
         justify-content: flex-start;
         align-items: flex-start;
         align-content: flex-start;
         gap: var(--px-12);

         .list {
            flex: 1;
            flex-shrink: 1;
            background-color: var(--primary);
            padding: var(--px-8) var(--px-16);
            border-radius: var(--px-8);
            min-width: 30%;
            max-width: 50%;
            cursor: pointer;

            h1 {
               font-size: var(--fs-4);
               font-weight: 500;
               text-align: left;
               color: var(--gray-100);
            }
         }
         .list:hover {
            background-color: var(--secondary);
         }
      }
   }

   > .bottom-content {
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: stretch;
      gap: var(--px-12);

      .container {
         flex: 1;
         border: 1px solid var(--primary);
         height: calc(var(--px-256) * 1.6);
         border-radius: var(--px-12);
         text-align: center;
         padding: var(--px-8);
         display: flex;
         flex-direction: column;
         gap: var(--px-8);

         > h1 {
            width: 100%;
            position: sticky;
            top: 0;
            font-size: var(--fs-5);
            font-weight: 500;
            color: var(--gray-800);
            border-radius: calc(var(--px-8) / 2);
            border-bottom: calc(var(--px-8) / 4) solid var(--gray-800);
         }

         .list {
            width: 100%;
            background-color: var(--secondary);

            h1 {
               font-size: var(--fs-5);
               font-weight: 600;
               color: var(--gray-900);
            }
         }
         .list:hover {
            transform: scale(1.05);
            cursor: pointer;
         }
      }

      .detail {
         flex: 3;
         border: 1px solid var(--primary);
         display: flex;
         justify-content: flex-start;
         align-items: center;
         flex-direction: column;
         border-radius: var(--px-12);
         padding: var(--px-12);
         gap: var(--px-12);
         position: relative;

         img {
            aspect-ratio: 16/9;
            width: 30%;
            border-radius: var(--px-8);
            border: calc(var(--px-8) / 4) solid var(--primary);
            object-fit: cover;
            object-position: top;
         }

         table {
            width: 100%;

            td {
               font-size: calc(var(--fs-3) * 1.2);
               font-weight: 400;
               color: var(--gray-900);
               text-overflow: ellipsis;
               white-space: nowrap;
               overflow: hidden;
            }
         }

         .button {
            position: absolute;
            top: var(--px-12);
            right: var(--px-12);
            display: flex;
            gap: var(--px-8);

            .btn {
               background-color: var(--btn-save);
               padding: calc(var(--px-8) / 2) var(--px-16);
               border-radius: var(--px-8);
               color: var(--gray-100);
               font-size: var(--fs-3);
               font-weight: 500;
            }
            .btn.danger {
               background-color: var(--btn-danger);
            }
            .btn:hover {
               background-color: var(--gray-200);
               color: var(--gray-900);
               cursor: pointer;
            }
         }
      }
   }
}

.admin-layout .profile {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: var(--px-32);
   padding: var(--px-32) var(--px-32) var(--px-64) var(--px-32);

   .header {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
         font-size: var(--fs-6);
         font-weight: 700;
         color: var(--gray-700);
      }

      img {
         aspect-ratio: 1/1;
         width: 10%;
         height: auto;
      }

      h2 {
         font-size: var(--fs-5);
         font-weight: 500;
         color: var(--gray-700);
      }
   }

   .main {
      width: 100%;
      padding: var(--px-16);
      background-color: var(--gray-100);
      display: flex;
      flex-direction: column;
      gap: var(--px-16);
      border-radius: var(--px-12);

      .row {
         display: flex;
         align-items: center;

         h1 {
            min-width: 30%;
            font-size: var(--fs-4);
            font-weight: 600;
            color: var(--gray-700);
         }

         h2 {
            font-size: var(--fs-4);
            font-weight: 500;
            color: var(--gray-700);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
         }
      }
   }

   .footer {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: var(--px-32);

      .btn.admin {
         background-color: var(--btn-info);
      }
      .btn {
         min-width: fit-content;
         width: var(--px-128);
         text-align: center;
         background-color: var(--btn-danger);
         padding: var(--px-8) var(--px-32);
         font-size: var(--fs-4);
         font-weight: 600;
         color: var(--gray-100);
         border-radius: var(--px-12);
         cursor: pointer;
      }
   }
}

@media screen and (max-width: 768px) {
   .public-layout .profile {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: var(--spx-32);
      padding: var(--spx-64) var(--spx-32) var(--spx-128) var(--spx-32);

      .header {
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;

         h1 {
            font-size: var(--fs-6);
            font-weight: 700;
            color: var(--gray-700);
         }

         img {
            aspect-ratio: 1/1;
            width: 40%;
            height: auto;
         }

         h2 {
            font-size: var(--fs-5);
            font-weight: 500;
            color: var(--gray-700);
         }
      }

      .main {
         width: 100%;
         padding: var(--spx-16);
         background-color: var(--thirdnary);
         display: flex;
         flex-direction: column;
         gap: var(--spx-16);
         border-radius: var(--spx-12);

         .row {
            display: flex;
            align-items: center;

            h1 {
               min-width: 30%;
               font-size: var(--fs-4);
               font-weight: 600;
               color: var(--gray-700);
            }

            h2 {
               font-size: var(--fs-4);
               font-weight: 500;
               color: var(--gray-700);
               white-space: nowrap;
               text-overflow: ellipsis;
               overflow: hidden;
            }
         }
         .row:nth-child(3) h2 {
            font-size: var(--fs-3);
         }
      }

      .footer {
         width: 100%;
         display: flex;
         justify-content: space-evenly;
         align-items: center;
         margin-top: var(--spx-32);

         .btn.admin {
            background-color: var(--btn-info);
         }
         .btn {
            min-width: fit-content;
            width: var(--spx-128);
            text-align: center;
            background-color: var(--btn-danger);
            padding: var(--spx-8) var(--spx-32);
            font-size: var(--fs-4);
            font-weight: 600;
            color: var(--gray-100);
            border-radius: var(--spx-12);
         }
      }
   }
}
